.create-container {
  /* margin: 0 auto; */
  height: 100vh;
  padding-top: 25vh;
  border: 2px solid lightgray;
  background: rgb(230, 236, 240);
}

.upload-cont {
  margin: 0 auto;
  /* width: 30%; */
  padding: 3rem;
  border-radius: 5px;
}

.create-btn {
  margin-top: 1rem;
}

.aws-upload > input {
  border-style: none;
  margin: 1rem;
  padding: 1rem;
}

.inputFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputFile + label {
  margin: 0 auto;
  margin-top: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 11vw;
}

.create-btn,
.inputFile + label {
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
  font-family: "Nunito", sans-serif;
}

.upload-img {
  height: 2rem;
  padding-right: 1rem;
}

@media (max-width: 1647px) {
  .inputFile + label {
    width: 11vw;
  }
}

@media (max-width: 1070px) {
  .inputFile + label {
    width: 13vw;
  }
}

@media (max-width: 833px) {
  .inputFile + label {
    width: 27vw;
  }

  .input-field input {
    /* width: 30%; */
    /* padding: 0; */
    text-align: center;
  }

  .upload-cont {
    /* text-align: center; */
    border-style: none;
    /* width: 100%; */
    padding: 5rem;
  }
}
