.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 600px;
  color: rgb(61, 64, 69);
  font-family: "Lato", sans-serif;
}

.post-img {
  width: 100%;
  margin-bottom: 1rem;
}

/* AVATAR SECTION  */

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 100px;
}

.user {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.avatar,
.username {
  padding-left: 1rem;
}

/* CAPTION SECTION  */

.caption-section {
  height: 3vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  font-size: 0.8rem;
}

.caption-username {
  padding-right: 0.5rem;
  font-weight: bold;
}

.username {
  text-decoration: none;
  color: rgb(61, 64, 69);
}

.username:hover {
  cursor: pointer;
}

/* LIKE SECTION */

.like-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.2rem 0 1.5rem 0;
  width: 90%;
}

.like-border {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1da1f2;
  padding: 0.4rem;
  border-radius: 5px;
  background: rgb(230, 236, 240);
  width: 3rem;
}

.liked {
  border: 1px solid lightgray;
  background: #1da1f2;
  color: white;
}

.like-btn {
  width: 15px;
  padding-right: 0.4rem;
}

/* COMMENT SECTION */

.comment-section {
  width: 100%;
}

/* @media (max-width: 1193px) {
  .post {
    width: 500px;
  }
}

@media (max-width: 946px) {
  .post {
    width: 400px;
  }
} */

@media (max-width: 640px) {
  .post {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; */
    /* margin: 0 auto; */
    /* margin-top: 3rem; */
    /* margin-bottom: 3rem; */
    /* border: 1px solid lightgray; */
    /* border-radius: 5px; */
    border-style: none;
    width: 100vw;
    /* color: rgb(61, 64, 69);
    font-family: "Lato", sans-serif; */
  }
}
