.profile {
  height: 100vh;
  margin-top: 150px;
}
.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 20vh;
  margin: 2rem auto;
}

.avatar-img {
  width: 150px;
  height: 150px;
  border-radius: 1000000000000px;
  border: 8px solid rgb(29, 161, 242, 0.4);
  object-fit: cover;
}

.user-snapshot {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 45%;
  padding-left: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.profile-username {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding-left: 0;
  font-size: 2rem;
}

.username-div {
  display: flex;
  justify-content: space-between;
}

.edit-btn {
  height: 30px;
}

.fullName {
  font-weight: 600;
}

.edit-form input {
  padding: 1rem 2rem;
  border-style: none;
  border-bottom: 1px solid lightgray;
  margin-right: 1.5rem;
  background: transparent;
}

.edit-form input:focus {
  outline: none;
}

.save-btn {
  border-style: none;
  background: transparent;
  color: #1da1f2;
}

/* PROFILE NAV SECTION  */

.profile-nav {
  width: 10vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #acacad;
}

.user-posts,
.user-likes {
  display: flex;
  align-items: center;
}

.profile-nav img {
  height: 15px;
  padding-right: 0.51rem;
}

/* PHOTO GRID SECTION  */

.photo-grid-div {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 2rem 0;
}

.fullName {
  font-weight: bold;
  padding-bottom: 1rem;
}
.bio-div {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1895px) {
  .container {
    width: 80%;
    /* margin: 0 auto; */
    /* padding: 0; */
  }
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50vw;
    height: 20vh;
    margin-top: 10rem;
  }
}

@media (max-width: 1367px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .avatar-img {
    /* width: 115px;
    height: 115px; */
    z-index: 0;
  }
  .user-info {
    width: 80%;
    z-index: -1;
  }

  .user-snapshot {
    /* background: rgb(230, 236, 240, 0.4); */
    margin-top: -3rem;
    padding: 0.8rem;
    padding-top: 3.4rem;
    border-radius: 8px;
  }

  .profile-username {
    font-size: 1.5rem;
  }

  .edit-btn {
    height: 20px;
  }
  .edit-form input {
    padding: 0.5rem;
  }
}

@media (max-width: 640px) {
  .user-info {
    width: 100%;
    height: 20%;
  }
  .user-snapshot {
    background: rgb(230, 236, 240, 0.4);
    width: 100%;
    /* margin-top: rem; */
    padding: 4.2rem;
    min-height: 10vh;
    align-items: center;
  }
  /* .user-snapshot {
    /* padding-top: 4.2rem; */
  /* } */

  .profile-username h1 {
    padding-right: 1rem;
  }

  .avatar-img {
    width: 115px;
    height: 115px;
  }

  .bio-div {
    text-align: center;
  }

  .edit-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
  }

  .edit-btns {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
  }
}
