.dashboard-container {
  padding-top: 100px;
  /* width: 100vw; */
  height: 100vh;
  /* display: flex; */
  /* flex-flow: wrap; */
  /* justify-content: space-between; */
  /* align-items: flex-start; */
}

.footer {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 4vh;
  width: 60vw;
  margin: 0 auto;
  border-top: 1px solid lightgray;
  padding-top: 1rem;
  padding-bottom: 0.2rem;
  position: sticky;
  bottom: 0;
  z-index: 1;
  background: white;
  text-align: center;
  overflow: hidden;
  background: rgb(29, 161, 242, 0.9);
}

@media (max-width: 1000px) {
  .footer {
    display: none;
  }
}

@media (max-width: 640px) {
  .dashboard-container {
    padding-top: 60px;
  }
}
