.App {
  text-align: center;
  font-family: "Nunito", sans-serif;
}

.btn,
.login {
  border-style: none;
  border-radius: 12px;
}

.btn,
.login {
  padding: 0.5rem;
  background: rgb(29, 161, 242, 0.4);
  /* background: red; */
}

.btn:hover,
.login:hover {
  background: rgb(29, 161, 242);
}

.btn:active,
.login:active {
  background: rgb(29, 161, 242, 0.1);
}

.login {
  text-decoration: none;
}

/* HEADER ICONS  */

.icon {
  height: 30px;
}
